@media only screen and (max-width: 1279px){}
/*main slider*/
.main-slider-img {
	width: 316px;
	right: 50%;
	margin-right: calc(190px/2 + 10px);
	/*half width of btn opener guide + 10px*/
}
.main-slider-caption{
	right: auto;
	left: 50%;
	margin-left: calc(-190px/2 + 10px);
	/*half width of btn opener guide + 10px*/
}
.main-slider-img,
.main-slider-caption{
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation: blur-off 0.2s forwards;
	-webkit-transition-property: -webkit-transform, -webkit-filter;
	transition-property: transform, filter;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.guide-show .main-slider-desks,
.guide-show .main-slider-img,
.guide-show .main-slider-caption{
	/*-webkit-filter: blur(5px);*/
	/*filter: blur(5px);*/
	-webkit-animation: blur-on 0.2s forwards;
	pointer-events: none;
}
.guide-show .main-slider-img{
	-webkit-transform: translate(-60px, 0) scale(0.9, 0.9);
	-ms-transform: translate(-60px, 0) scale(0.9, 0.9);
	transform: translate(-60px, 0) scale(0.9, 0.9);
}
.guide-show .main-slider-caption{
	-webkit-transform: translate(-140px, 0) scale(0.94, 0.94);
	-ms-transform: translate(-140px, 0) scale(0.94, 0.94);
	transform: translate(-140px, 0) scale(0.94, 0.94);
}
@-webkit-keyframes blur-on {
	0% {
		-webkit-filter: blur(0);
	}

	100% {
		-webkit-filter: blur(2px);
	}
}
@keyframes blur-on {
	0% {
		filter: blur(0);
	}

	100% {
		filter: blur(2px);
	}
}
@-webkit-keyframes blur-off {
	0% {
		-webkit-filter: blur(2px);
	}

	100% {
		-webkit-filter: blur(0);
	}
}
@keyframes blur-off {
	0% {
		filter: blur(2px);
	}

	100% {
		filter: blur(0);
	}
}
/*main slider end*/

/*guide*/
.guide{
	width: 320px;
	right: 0;
	padding-right: 40px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.guide-show .guide{
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.guide__align{
	min-height: 0;
}
.guide__content{
	position: relative;
	left: auto;
	top: auto;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.guide__align{
	padding-left: 20px;
	padding-right: 20px;
}
.guide__content, .guide__foot {
	padding-left: 0;
	padding-right: 0;
}
.guide__title{
	margin: 0 0 15px;
}
.guide__foot {
	position: relative;
	bottom: auto;
	left: auto;
	width: auto;
}
.guide__content{
	margin-bottom: 15px;
}
.guide-opener{
	display: block;
}
/*guide end*/

/*products filter*/
.products-filter__list a{
	font-size: 1.4rem;
}
.products-filter__list li{
	float: left;
	width: 140px;
}
/*products filter end*/

/*product card*/
.card-figure {
	right: 430px;
}
.card-description {
	width: 360px;
}
.card-info__item,
.card-info__item:nth-child(even){
	width: 100%;
}
/*product card end*/

/*SIDEBAR*/
/*main navigation*/
/*.main-nav a {
	padding: 7em 0 1.8em;
}
.main-nav a svg {
	width: 3.6em;
	height: 3.6em;
	margin-bottom: 1.2em;
}*/
/*main navigation end*/
/*SIDEBAR end*/

/*ASIDE*/
/*add menu*/
.add-menu__title {
	padding: 0 5%;
}
.add-menu__title svg {
	width: 50px;
	height: 50px;
	margin-right: 12px;
}
.add-menu__title span {
	max-width: calc(90% - 50px - 4px);
	font-size: 1.5rem;
}
/*add menu end*/
/*ASIDE end*/