@media only screen and (max-width: 1599px){}
/*main slider*/
.main-slider{
	height: calc(100vh - 100px);
}

.main-slider-img{
	right: 850px;
}

.main-slider-caption,
.main-slider-title__item{
	font-size: 3.2rem;
}
.main-slider-caption{
	right: 450px;
}
/*main slider end*/

/*product card*/
.card-figure{
	right: 560px;
}
.card-description{
	width: 480px;
}

.card-info__item{
	padding: 12px 20px;
}
.card-info__item svg{
	margin-right: 20px;
}
.card-info__text {
	width: calc(100% - 46px - 6px);
	font-size: 1.4rem;
}
/*product card end*/

/*SIDEBAR*/
/*main navigation*/
.main-nav{
	height: calc(100% - 100px);
}
/*main navigation end*/
.btn-info_sidebar{
	height: 100px;
}
/*SIDEBAR end*/

/*guide*/
.guide{
	height: calc(100% - 100px);
}
/*guide end*/

/*ASIDE*/
.aside{
	height: 100px;
}
/*add menu*/
.add-menu__inner{
	-webkit-transform: translateY(calc(100% - 100px));
	-ms-transform: translateY(calc(100% - 100px));
	transform: translateY(calc(100% - 100px));
}
.add-menu__title:before {
	height: 100px;
}
/*add menu end*/

.copyright {
	padding: 0 0 1.6em;
}
.copyright:before {
	bottom: 0.75em;
}
/*ASIDE end*/
