@media only screen and (max-width: 1919px){}
/*info bar*/
.info-bar__item {
	padding: 1.5em 15px 1.5em 35px;
}
.info-bar__frame {
	padding-bottom: 110px;
}
.info-bar__item:last-child {
	height: 110px;
}
.info-bar__list dd{
	padding-bottom: 1em;
}
/*info bar end*/

/*product card*/
.card-figure,
.card-arrows{
	right: 670px;
	left: 385px;
}
.set{
	width: calc(540px - 10px);
	margin-top: 60px;
	margin-right: 60px;
}
.card-description{
	width: 540px;
	margin-right: 60px;
}
.set ~ .card-description{
	margin-top: 160px;
	min-height: calc(100vh - 160px);
	/*100vh - total height of .set*/
}
/*product card end*/
/*SIDEBAR*/
/*main navigation*/
.main-nav a{
	padding: 4.7em 0 1.3em;
}
.main-nav a svg {
	width: 3.2em;
	height: 3.2em;
	margin-bottom: 1em;
}
/*main navigation end*/
/*SIDEBAR end*/
