@media only screen and (max-width: 767px){}

h1 {
	font-size: 3.8rem;
}
h2 {
	font-size: 2.6rem;
}
.text__description {
	font-size: 1.1em;
}
/*MAIN BLOCKS*/
.wrapper{
	padding-top: 50px;
}
.text-layout {
	padding-left: 20px;
	padding-right: 20px;
}
.main{
	height: calc(100vh - 50px);
}
.main,
.main.about,
.main.catalog,
.main.products-card{
	padding-left: 0;
}
.products-filter{
	left: 0;
}
/*MAIN BLOCKS end*/

/*HEADER*/
.header{
	display: block;
}
/*HEADER end*/

/*MAIN*/
/*main slider*/
.index .main-slider{
	min-height: calc(100vh - 50px);
	height: 480px;
}

.main-slider-caption .main-slider__counter,
.main-slider-caption .main-slider-arrow{
	display: none;
}

.main-slider-desks{
	display: none;
}

.main-slider-img{
	width: 300px;
	margin-right: -150px;
	bottom: auto;
	height: 70%;
	top: 33%;
}

.main-slider-caption {
	right: auto;
	left: 50%;
	width: 11.4em;
	margin-left: -5.9em;
	height: calc(5em + 40px);
	top: 50px;
}
/*.main-slider-title__item,*/
.main-slider-img__item{
	-webkit-transform: translate(60%, 0) scale(0.9, 0.9);
	-ms-transform: translate(60%, 0) scale(0.9, 0.9);
	transform: translate(60%, 0) scale(0.9, 0.9);
	-webkit-transition-duration: 0.4s, 0.2s, 0.2s;
	transition-duration: 0.4s, 0.2s, 0.2s;
}
/*.main-slider-title__item.active,*/
.main-slider-img__item.active{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0, 0) scale(1, 1);
	-ms-transform: translate(0, 0) scale(1, 1);
	transform: translate(0, 0) scale(1, 1);
	-webkit-transition-duration: 0.4s, 0.6s, 0.6s;
	transition-duration: 0.4s, 0.6s, 0.6s;
}
/*.main-slider-title__item.active-prev,*/
.main-slider-img__item.active-prev{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(-60%, 0) scale(0.9, 0.9);
	-ms-transform: translate(-60%, 0) scale(0.9, 0.9);
	transform: translate(-60%, 0) scale(0.9, 0.9);
}

.main-slider-title__item{
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.main-slider-title__item.active{
	opacity: 1;
	visibility: visible;
}
.main-slider-title__item.active-prev{
	opacity: 0;
	visibility: hidden;
}

.main-slider__foot{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 70px;
	font-size: 2.6rem;
	line-height: 1;
	background: #242e38;
}
.main-slider__foot .main-slider__counter,
.main-slider__foot .main-slider-arrow{
	display: block;
}
.main-slider__counter{
	top: 50%;
	font-size: 1.8rem;
	line-height: 1.2;
	text-align: center;
	width: 70px;
	margin: -0.6em 0 0 -35px;
}
.main-slider__foot .main-slider-arrow{
	top: 50%;
	font-size: 1px;
	height: 50em;
	width: 50em;
	margin-top: -25em;
}
.main-slider__foot .main-slider-arrow__prev {
	margin-left: -100px;
}
.main-slider__foot .main-slider-arrow__next {
	margin-right: -100px;
}
/*main slider end*/

/*guide*/
.guide{
	position: relative;
	right: auto;
	top: auto;
	left: auto;
	width: 100%;
	padding: 20px;
	border: none;
}
.guide,
.guide-show .guide{
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.guide:before{
	content: none;
}

.guide__align{
	display: block;
	width: auto;
}

.guide__img {
	max-height: none;
}

.guide-opener{
	display: none;
}
/*guide end*/

/*about*/
.section__title,
.section__body,
.section__foot,
.brief{
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.section-aside{
	opacity: 1;
	visibility: visible;
}
/*about end*/

/*history section*/
.fixed-history-periods .section-aside__history {
	top: 50px;
	left: 0;
}
.section-aside__align{
	opacity: 1;
	visibility: visible;
}
.history-periods li.active {
	font-family: 'PT Serif', serif;
	font-weight: 700;
}
.history-periods li.active span {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
/*history section end*/

/*water section*/
.section-water .section-bottom-spacer,
.section-water{
	display: none;
}
/*water section end*/

/*technologies section*/
.images-gallery__inner img {
	max-height: 200px;
}
/*technologies section end*/

/*production section*/
.news-slider{
	margin: 0 -20px 3.3em;
}
.news-slider__list,
.news-slider__list.slick-dotted{
	padding: 0 0 40px;
}
.news-slider__img {
	float: none;
	width: auto;
	margin: 0 0 1em;
}
.news-slider__counter {
	left: 20px;
	top: auto;
	bottom: 15px;
	font-size: 1.8rem;
	color: #262626;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	margin-left: 0;
}
/*production section end*/

/*foreign*/
.foreign {
	padding-top: 0;
}
.foreign__tab a > span {
	padding: 5% 8%;
	font-size: 1.2rem;
}
.foreign__panel {
	padding: 0;
}
/*foreign end*/

/*products filter*/
.products-filter{
	position: relative;
	left: auto;
	top: auto;
	right: auto;
	padding: 20px;
	height: auto;
}
.products-filter:before{
	content: none;
}
.products-filter__list{
	display: inline-block;
	width: 100%;
	border-width: 0 1px 1px 0;
	background: #024383;
}
.products-filter__list li{
	width: 50%;
}
.products-filter__list a{
	border-width: 1px 0 0 1px;
}
.products-filter ~ .products {
	padding-top: 0;
}
/*products filter end*/

/*product card*/
.card-figure,
.card-arrows,
.card-feature__short .card-caption__foot {
	right: 30px;
	left: 30px;
}
.card-arrows {
	margin-top: 60px;
}
.set,
.card-description,
.card-feature__short .card-caption__title {
	width: 420px;
}
.card-arrows{
	top: auto;
	bottom: 45px;
	margin: 0;
	right: auto;
	width: 130px;
}
.card-arrow{
	margin: 0;
}
.card-arrow > span{
	background: #fff;
}
.card-arrow > span svg path{
	fill: #024383;
}
.active .card-feature__full {
	padding-bottom: 90px;
}
.touchevents .overlay-panel{
	display: block;
}
/*product card end*/

/*sub navigation*/
.touchevents .catalog ~ .sub-nav.sub-nav-opened,
.touchevents .products-card ~ .sub-nav.sub-nav-opened{
	height: calc(100vh - 50px);
}
.touchevents .catalog ~ .sub-nav.sub-nav-opened,
.touchevents .products-card ~ .sub-nav.sub-nav-opened,
.touchevents .catalog ~ .sub-nav > *,
.touchevents .products-card ~ .sub-nav > *{
	width: calc(100vw);
}
.sub-nav__align {
	height: calc(100vh - 59px - 50px);
}
.sub-nav__list a,
.all-ranges a {
	padding: 12px 20px;
}
.sub-nav__list a svg {
	width: 36px;
	height: 36px;
	margin-right: 6px;
}
.all-ranges{
	height: 60px;
}
.sub-nav-opened + .btn-subnav {
	width: 60px;
	height: 60px;
}
/*sub navigation end*/
/*MAIN end*/

/*info bar*/
.info-bar{
	left: auto;
	top: 50px;
	right: 0;
	height: calc(100vh - 50px);
	border: solid #024383;
	border-width: 1px 0 0 1px;
	-webkit-transform: translate(105%, 0);
	-ms-transform: translate(105%, 0);
	transform: translate(105%, 0);
}
/*info bar end*/

/*SIDEBAR*/
.sidebar{
	height: calc(100vh - 50px);
	width: 260px;
	/*width: calc(100vw - 49px);*/
	top: 50px;
	border: solid #2b52a1;
	border-width: 1px 1px 0 0;
	-webkit-transform: translate(-105%, 0);
	-ms-transform: translate(-105%, 0);
	transform: translate(-105%, 0);
}
.sidebar:before,
.sidebar:after{
	content: '';
	position: absolute;
	left: 0;
	height: 30px;
	width: 100%;
	box-shadow: 0 0 8px 5px #024383;
	z-index: 4;
	pointer-events: none;
}
.sidebar:before{
	bottom: 100%;
}
.sidebar:after{
	top: 100%;
}
.sidebar-holder{
	overflow-y: auto;
	padding-top: 0;
}
.info-bar-show .sidebar {
	-webkit-transform: translate(-105%, 0);
	-ms-transform: translate(-105%, 0);
	transform: translate(-105%, 0);
}
.sidebar-show .sidebar{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.sidebar__head{
	position: relative;
	height: auto;
	padding: 0;
	box-shadow: none;
}
.lang{
	text-align: left;
	padding: 13px 20px;
}
.logo_sidebar{
	display: none;
}

.sidebar__body,
.no-touchevents .sidebar__body{
	padding: 0;
	height: auto;
	width: auto;
}
.main-nav{
	display: block;
	width: auto;
	height: auto;
	padding: 0;
}
.main-nav ul{
	display: block;
	padding: 0;
}
.main-nav a,
.portrait .main-nav a{
	text-align: left;
	padding: 0.8em 20px;
	line-height: 1;
}
.main-nav a:before,
.main-nav a:after{
	width: 100%;
}
.main-nav a svg,
.portrait .main-nav a svg{
	position: relative;
	left: auto;
	top: auto;
	width: 2.8em;
	height: 2.8em;
	margin-right: 1em;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.main-nav a > span{
	display: inline-block;
	width: calc(98% - 2.8em - 1em);
	/*98% - width of svg icon - svg icon right margin*/
	line-height: 1.3;
}

.btn-info_sidebar{
	display: none;
}
/*SIDEBAR end*/

/*ASIDE*/
/*add menu*/
.aside .add-menu {
	height: auto;
}
.add-menu__item {
	float: none;
	height: auto;
	width: 100%;
}
.add-menu__inner{
	display: block;
	position: relative;
	left: auto;
	bottom: auto;
	padding-top: 20px;
	border-bottom: 1px solid #045bb3;
	box-shadow: none;
}
.add-menu__inner,
.add-menu__item.hover .add-menu__inner{
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.add-menu__title {
	text-align: left;
	padding-bottom: 20px;
}
.add-menu__title:before{
	content: none;
}
.add-menu__title,
.add-menu__content{
	padding-left: 20px;
	padding-right: 20px;
}
/*add menu end*/
/*ASIDE end*/

/*side navigation*/
.side{
	display: none;
}
/*side navigation end*/

.modal__align{
	padding: 0;
}
.modal__img__wrap img {
	max-width: 100vw;
	max-height: 100vh;
}