@media only screen and (max-width: 767px){}

/*MAIN BLOCKS*/
.wrapper{
	padding-top: 50px;
}
/*MAIN BLOCKS end*/

/*HEADER*/
.header{
	display: block;
}
/*HEADER end*/

/*MAIN*/
.main{
	height: calc(100vh - 50px);
	padding-left: 0;
}

/*main slider*/
.main-slider{
	min-height: calc(100vh - 50px);
	height: 640px;
}

.main-slider-caption .main-slider__counter,
.main-slider-caption .main-slider-arrow{
	display: none;
}

.main-slider-desks{
	display: none;
}

.main-slider-img{
	width: 300px;
	margin-right: -150px;
	bottom: auto;
	height: 70%;
	top: 33%;
}

.main-slider-caption {
	right: auto;
	left: 50%;
	width: 11.4em;
	margin-left: -5.9em;
	height: calc(5em + 40px);
	top: 50px;
}
/*.main-slider-title__item,*/
.main-slider-img__item{
	-webkit-transform: translate(60%, 0) scale(0.9, 0.9);
	-ms-transform: translate(60%, 0) scale(0.9, 0.9);
	transform: translate(60%, 0) scale(0.9, 0.9);
	-webkit-transition-duration: 0.4s, 0.2s, 0.2s;
	transition-duration: 0.4s, 0.2s, 0.2s;
}
/*.main-slider-title__item.active,*/
.main-slider-img__item.active{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0, 0) scale(1, 1);
	-ms-transform: translate(0, 0) scale(1, 1);
	transform: translate(0, 0) scale(1, 1);
	-webkit-transition-duration: 0.4s, 0.6s, 0.6s;
	transition-duration: 0.4s, 0.6s, 0.6s;
}
/*.main-slider-title__item.active-prev,*/
.main-slider-img__item.active-prev{
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(-60%, 0) scale(0.9, 0.9);
	-ms-transform: translate(-60%, 0) scale(0.9, 0.9);
	transform: translate(-60%, 0) scale(0.9, 0.9);
}

.main-slider-title__item{
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.main-slider-title__item.active{
	opacity: 1;
	visibility: visible;
}
.main-slider-title__item.active-prev{
	opacity: 0;
	visibility: hidden;
}

.main-slider__foot{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 70px;
	font-size: 2.6rem;
	line-height: 1;
	background: #242e38;
}
.main-slider__foot .main-slider__counter,
.main-slider__foot .main-slider-arrow{
	display: block;
}
.main-slider__counter{
	top: 50%;
	font-size: 1.8rem;
	line-height: 1.2;
	text-align: center;
	width: 70px;
	margin: -0.6em 0 0 -35px;
}
.main-slider__foot .main-slider-arrow{
	top: 50%;
	font-size: 1px;
	height: 50em;
	width: 50em;
	margin-top: -25em;
}
.main-slider__foot .main-slider-arrow__prev {
	margin-left: -100px;
}
.main-slider__foot .main-slider-arrow__next {
	margin-right: -100px;
}
/*main slider end*/

/*guide*/
.guide{
	position: relative;
	right: auto;
	top: auto;
	left: auto;
	width: 100%;
	padding: 20px;
	border: none;
}
.guide,
.guide-show .guide{
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.guide:before{
	content: none;
}

.guide__align{
	display: block;
	width: auto;
}

.guide__img {
	max-height: none;
}

.guide-opener{
	display: none;
}
/*guide end*/
/*MAIN end*/

/*info bar*/
.info-bar{
	left: auto;
	top: 50px;
	right: 0;
	height: calc(100vh - 50px);
	border: solid #024383;
	border-width: 1px 0 0 1px;
	-webkit-transform: translate(105%, 0);
	-ms-transform: translate(105%, 0);
	transform: translate(105%, 0);
}
/*info bar end*/

/*SIDEBAR*/
.sidebar{
	height: calc(100vh - 50px);
	width: 260px;
	/*width: calc(100vw - 49px);*/
	top: 50px;
	border: solid #2b52a1;
	border-width: 1px 1px 0 0;
	-webkit-transform: translate(-105%, 0);
	-ms-transform: translate(-105%, 0);
	transform: translate(-105%, 0);
}
.sidebar-holder{
	overflow-y: auto;
	padding-top: 0;
}
.info-bar-show .sidebar {
	-webkit-transform: translate(-105%, 0);
	-ms-transform: translate(-105%, 0);
	transform: translate(-105%, 0);
}
.sidebar-show .sidebar{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.sidebar:after{
	content: none;
}
.sidebar__head{
	position: relative;
	height: auto;
	padding: 0;
	box-shadow: none;
}
.lang{
	text-align: left;
}
.logo_sidebar{
	display: none;
}

.sidebar__body,
.no-touchevents .sidebar__body{
	padding: 0;
	height: auto;
	width: auto;
}
.main-nav{
	display: block;
	width: auto;
	height: auto;
	padding-bottom: 20px;
}
.main-nav ul{
	display: block;
}
.main-nav a{
	text-align: left;
	padding: 0.8em 20px;
	line-height: 1;
}
.main-nav a:before,
.main-nav a:after{
	width: 100%;
}
.main-nav a svg{
	position: relative;
	left: auto;
	top: auto;
	width: 2.8em;
	height: 2.8em;
	margin-right: 1em;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.main-nav a > span{
	display: inline-block;
	width: calc(98% - 2.8em - 1em);
	/*98% - width of svg icon - svg icon right margin*/
	line-height: 1.3;
}

.btn-info_sidebar{
	display: none;
}
/*SIDEBAR end*/

/*ASIDE*/
/*add menu*/
.aside .add-menu {
	height: auto;
}
.add-menu__item {
	float: none;
	height: auto;
	width: 100%;
}
.add-menu__inner{
	display: block;
	position: relative;
	left: auto;
	bottom: auto;
	padding-top: 20px;
	border-bottom: 1px solid #045bb3;
	box-shadow: none;
}
.add-menu__inner,
.add-menu__item.hover .add-menu__inner{
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.add-menu__title {
	text-align: left;
	padding-bottom: 20px;
}
.add-menu__title:before{
	content: none;
}
.add-menu__title,
.add-menu__content{
	padding-left: 20px;
	padding-right: 20px;
}
/*add menu end*/
/*ASIDE end*/
