@media only screen and (max-width: 991px){}
/*MAIN BLOCKS*/
.wrapper {

}
.main.index{
	overflow-y: auto;
}
.main.catalog, .main.products-card{
	padding-left: 120px;
}
.products-filter{
	left: 120px;
}
/*MAIN BLOCKS end*/

/*MAIN*/
/*main slider*/
.main-slider {
	min-height: calc(100vh - 100px);
	height: 920px;
}
.main-slider-img {
	width: 300px;
	margin-right: 10px;
}
.main-slider-caption{
	right: auto;
	left: 50%;
	margin-left: 10px;
}
.main-slider-caption,
.main-slider-title__item {
	font-size: 2.6rem;
}
/*main slider end*/

/*about*/
.btn-side{ display: block; }
/*section aside*/
.section-aside{
	display: none;
}
.section{ min-height: 200px; }
.section__holder {
	margin-right: 0;
}
/*section aside end*/
/*about end*/

/*history section*/
.section-history{
	border: solid #d9d9d9;
	border-width: 1px 0;
}
.section-history .section__holder{
	margin-right: 100px;
	min-height: 600px;
}
.section-aside__history{
	display: block;
	width: 100px;
	background: rgba(255, 255, 255, 0.35);
	border-left: 1px solid #d9d9d9;
}
.section-aside__title {
	font-size: 1.4rem;
	line-height: 1.6;
	color: #262626;
}
.history-periods a {
	padding: 1.6vh 0;
	color: #262626;
}
.history-periods li:before{
	border-left-color: #d9d9d9;
}
.dart-top, .dart-bottom{
	border-color: #d9d9d9;
}
/*history section end*/

/*products filter*/
.products-filter{
	position: fixed;
	top: 0;
	right: 0;
	height: 100px;
	padding: 0 17px;
	text-align: center;
	z-index: 10;
}
/*products filter end*/

/*sub navigation*/
.catalog ~ .sub-nav,
.products-card ~ .sub-nav{
	visibility: hidden;
	opacity: 0;
}
.sub-nav.sub-nav-opened{
	visibility: visible;
	opacity: 1;
}

.touchevents .catalog ~ .sub-nav,
.touchevents .products-card ~ .sub-nav{
	position: fixed;
	top: auto;
	left: auto;
	bottom: 0;
	right: 0;
	visibility: visible;
	opacity: 1;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	overflow: hidden;
	-webkit-transform: translate(-20px, -20px);
	-ms-transform: translate(-20px, -20px);
	transform: translate(-20px, -20px);
	-webkit-transition-property: height, width, border-radius, -webkit-transform;
	transition-property: height, width, border-radius, transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.touchevents .catalog ~ .sub-nav > *,
.touchevents .products-card ~ .sub-nav > *{
	width: calc(100vw - 120px);
	/*window's width - sidebar's width*/
	visibility: hidden;
	opacity: 0;
	will-change: width, height;
	-webkit-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	-webkit-transition-duration: 0.33s;
	transition-duration: 0.33s;
}
.touchevents .btn-subnav{
	display: block;
}

.touchevents .catalog ~ .sub-nav.sub-nav-opened,
.touchevents .products-card ~ .sub-nav.sub-nav-opened{
	width: calc(100vw - 120px);
	/*window's width - sidebar's width*/
	height: 100vh;
	border-radius: 0;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.touchevents .catalog ~ .sub-nav.sub-nav-opened > *,
.touchevents .products-card ~ .sub-nav.sub-nav-opened > *{
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
/*sub navigation end*/
/*MAIN end*/

/*guide*/
.guide{
	padding-top: 40px;
}
.guide__align{
	vertical-align: top;
	background: rgba(36, 46, 56, 0.44);
}
.guide-opener{
	top: 20px;
	margin-top: 0;
	background: rgba(36, 46, 56, 0.44);
}
/*guide end*/

/*SIDEBAR*/
/*main navigation*/
.portrait .main-nav a{
	padding: 7em 0 1.8em;
}
.portrait .main-nav a svg{
	width: 3.6em;
	height: 3.6em;
	margin-bottom: 1.2em;
}
/*main navigation end*/
/*SIDEBAR end*/

/*ASIDE*/
.aside {
	height: auto;
}
.aside .add-menu {
	float: none;
	height: 100px;
	width: auto;
}
/*ASIDE end*/

/*FOOTER*/
.aside .footer{
	position: relative;
	float: none;
	width: auto;
	height: auto;
	padding: 12px 20px;
}
.copyright{
	padding: 0 0 0.5em;
}
.copyright:before{
	content: none;
}
/*FOOTER end*/