@media only screen and (max-width: 991px){}
/*MAIN BLOCKS*/
.wrapper {

}
.main.index{
	overflow-y: auto;
}
.main.catalog, .main.products-card{
	padding-left: 120px;
}
.products-filter{
	left: 120px;
}
/*MAIN BLOCKS end*/

/*MAIN*/
/*main slider*/
.main-slider {
	min-height: calc(100vh - 100px);
	height: 920px;
}
.main-slider-img {
	width: 300px;
	margin-right: 10px;
}
.main-slider-caption{
	right: auto;
	left: 50%;
	margin-left: 10px;
}
.main-slider-caption,
.main-slider-title__item {
	font-size: 2.6rem;
}
/*main slider end*/

/*about*/
.btn-side{ display: block; }
/*section aside*/
.section-aside{
	display: none;
}
.section{ min-height: 200px; }
.section__holder {
	margin-right: 0;
}
/*section aside end*/
/*about end*/

/*benefits*/
.benefits__list li {
	padding: 35px 40px;
	text-align: center;
	overflow: visible;
}
.benefits__list li:after{
	content: none;
}
.benefits__list svg {
	position: absolute;
	right: 50%;
	bottom: 50%;
	width: 76px;
	height: 74px;
	margin: 0 -38px -37px 0;
	opacity: 0.8;
}
/*benefits end*/

/*history section*/
.section-history{
	border: none;
}
.section-history .section__holder{
	margin-right: 0;
	min-height: 600px;
	padding-top: 100px;
}
.section-aside__history{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}
.section-aside__history:before,
.section-aside__history:after{
	content: '';
	position: absolute;
	top: 0;
	height: 100%;
	width: 60px;
	pointer-events: none;
	z-index: 5;
}
.section-aside__history:before{
	left: 0;
	background: -moz-linear-gradient(left,  rgba(2,39,77,1) 0%, rgba(2,39,77,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(2,39,77,1) 0%,rgba(2,39,77,0) 100%);
	background: linear-gradient(to right,  rgba(2,39,77,1) 0%,rgba(2,39,77,0) 100%);
}
.section-aside__history:after{
	right: 0;
	background: -moz-linear-gradient(left,  rgba(2,39,77,0) 0%, rgba(2,39,77,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(2,39,77,0) 0%,rgba(2,39,77,1) 100%);
	background: linear-gradient(to right,  rgba(2,39,77,0) 0%,rgba(2,39,77,1) 100%);
}
.fixed-history-periods .section-aside__history {
	position: fixed;
	right: 0;
	top: 0;
	left: 171px;
	width: auto;
}
.hide-history-periods .section-aside__history {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	transform: translate(0, -100%);
}
.section-aside:after {
	content: none;
}
.section-aside__align {
	display: block;
	width: 100%;
	padding: 0;
}
.section-aside__title {
	display: none;
}
.history-periods{
	overflow: hidden;
}
.history-periods li{
	float: left;
	width: 80px;
}
.history-periods li:before {
	content: none;
}
.animate-section .history-periods li.active:before {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.history-periods a{
	height: 70px;
	padding: 0;
}
.history-periods a:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.history-periods a span{
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 6px);
}
.animate-section .dart-top,
.animate-section .dart-bottom {
	display: none;
}
.history-periods li.active-prev span,
.history-periods li.active-next span,
.history-periods li.active-prev:last-child span,
.history-periods li.active-next:first-child span{
	-webkit-transform: scale(0.6, 0.6) translate(0, 0);
	transform: scale(0.6, 0.6) translate(0, 0);
}
/*history section end*/

/*brief*/
.brief__title-full, .brief__title {
	font-size: 1.0rem;
}
/*brief end*/

/*products filter*/
.products-filter{
	position: fixed;
	top: 0;
	right: 0;
	height: 100px;
	padding: 0 17px;
	text-align: center;
	z-index: 10;
}
/*products filter end*/

/*product card*/
.card-figure,
.card-arrows,
.card-feature__short .card-caption__foot {
	right: 20px;
	left: 140px;
}
/*product card end*/

/*sub navigation*/
.catalog ~ .sub-nav,
.products-card ~ .sub-nav{
	visibility: hidden;
	opacity: 0;
}
.sub-nav.sub-nav-opened{
	visibility: visible;
	opacity: 1;
}

.touchevents .sub-nav{ display: none; }
.touchevents .catalog ~ .sub-nav,
.touchevents .products-card ~ .sub-nav{
	position: fixed;
	top: auto;
	left: auto;
	bottom: 0;
	right: 0;
	visibility: visible;
	opacity: 1;
	overflow: hidden;
	-webkit-transform: translate(-20px, -20px);
	-ms-transform: translate(-20px, -20px);
	transform: translate(-20px, -20px);
	-webkit-transition-property: height, width, border-radius, -webkit-transform;
	transition-property: height, width, border-radius, transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.touchevents .catalog ~ .sub-nav > *,
.touchevents .products-card ~ .sub-nav > *{
	visibility: hidden;
	opacity: 0;
	will-change: width, height;
	-webkit-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	-webkit-transition-duration: 0.33s;
	transition-duration: 0.33s;
}
.btn-subnav,
.sub-nav{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.touchevents .catalog ~ .btn-subnav,
.touchevents .products-card ~ .btn-subnav,
.touchevents .catalog ~ .sub-nav,
.touchevents .products-card ~ .sub-nav{
	display: block;
}

.touchevents .catalog ~ .sub-nav.sub-nav-opened,
.touchevents .products-card ~ .sub-nav.sub-nav-opened{
	height: 100vh;
	border-radius: 0;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.touchevents .catalog ~ .sub-nav.sub-nav-opened > *,
.touchevents .products-card ~ .sub-nav.sub-nav-opened > *{
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.touchevents .catalog ~ .sub-nav > *,
.touchevents .products-card ~ .sub-nav > *,
.touchevents .catalog ~ .sub-nav.sub-nav-opened,
.touchevents .products-card ~ .sub-nav.sub-nav-opened{
	width: calc(100vw - 120px);
	/*window's width - sidebar's width*/
}
/*sub navigation end*/
/*MAIN end*/

/*guide*/
.guide{
	padding-top: 40px;
}
.guide__align{
	vertical-align: top;
	background: rgba(36, 46, 56, 0.44);
}
.guide-opener{
	top: 20px;
	margin-top: 0;
	background: rgba(36, 46, 56, 0.44);
}
/*guide end*/

/*SIDEBAR*/
/*main navigation*/
.portrait .main-nav a{
	padding: 7em 0 1.8em;
}
.portrait .main-nav a svg{
	width: 3.6em;
	height: 3.6em;
	margin-bottom: 1.2em;
}
/*main navigation end*/
/*SIDEBAR end*/

/*ASIDE*/
.aside {
	height: auto;
}
.aside .add-menu {
	float: none;
	height: 100px;
	width: auto;
}
/*ASIDE end*/

/*FOOTER*/
.aside .footer{
	position: relative;
	float: none;
	width: auto;
	height: auto;
	padding: 12px 20px;
}
.copyright{
	padding: 0 0 0.5em;
}
.copyright:before{
	content: none;
}
/*FOOTER end*/