@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i&subset=cyrillic,cyrillic-ext');
@import url(normalize.css);
@import url(widgets.css);

/*fonts*/
/*academy-bold*/
@font-face{
	font-family: 'academy-bold';
	src: url('../fonts/academy-bold.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'arnopro-bold';
	src: url('../fonts/arnopro-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'arnopro-regular';
	src: url('../fonts/arnopro-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
/*fonts end*/

/*normalize*/
/*@import url(normalize.css);*/
/*normalize end*/

/* my reset */
a, input, button,
a:focus, input:focus, button:focus{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none !important;
}
body{ -webkit-font-smoothing: antialiased; }
body, html{ height: 100%; width: 100%; }
select[disabled]{ cursor: default; }
form { margin:0; padding:0; }
input{ vertical-align: middle; }
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="submit"], input[type="button"], input[type="reset"], button{ -webkit-appearance: none; border-radius: 0; }
input[type=radio], input[type=checkbox], select{ cursor: pointer; }
textarea, input, button{ -webkit-appearance: none; border-radius: 0; }
*:focus{ outline: none; -moz-outline: 3px solid #fff !important; }
input[type="radio"]:focus{ -moz-outline-radius: 12px !important; -moz-outline-offset: 0 !important; }
input[type="checkbox"]:focus{ -moz-outline-offset: -1px !important; -moz-outline: 1px solid #000 !important; }
input::-ms-clear { display: none; }
blockquote, q{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none; }
ins{ text-decoration: none; }
del{ text-decoration: line-through; }
fieldset{ border: none; margin: 0; padding: 0; }
table{ border: 0; width: 100%; padding: 0; margin: 0; }
ul{ list-style: none; padding: 0; margin: 0; }
*, *::after, *::before { box-sizing: border-box; }
/* reset end */

/*------ TYPOGRAPHIC STYLES ------*/
html{
	font-size: 62.5%;
}
body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.8rem;
	line-height: 1.7;
	font-weight: 300;
	height: 100%;
	color: #333;
	background-color: #343943;
	min-width: 320px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin: 0;
	color: #000;
}
h1{
	font-family: 'academy-bold', sans-serif;
	font-size: 26px;
	line-height: 30px;
	padding: 0 0 20px;
	overflow: hidden;
}
h2{
	font-family: 'arnopro-regular', sans-serif;
	font-size: 18px;
	line-height: 22px;
	padding: 0 0 20px;
}
h3{
	font-family: 'arnopro-bold', sans-serif;
	font-size: 16px;
	line-height: 18px;
	padding: 0 0 15px;
}
h4{
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 10px;
}
h5{
	font-size: 14px;
	line-height: 16px;
	font-weight: 100;
	padding: 0 0 5px;
}
h6{
	font-size: 12px;
	line-height: 14px;
	font-weight: 100;
	padding: 0 0 5px;
}
p{
	padding: 0 0 24px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #333;
	margin-bottom: 29px;
}
a{
	color: #00f;
	outline: none;
	text-decoration: underline;
	cursor: default;
}
a:link{ cursor: pointer; }
.no-touchevents a:hover{ text-decoration: none; }
a[href^="tel"],
.no-touchevents a[href^="tel"]:hover,
a[href^="fax"],
.no-touchevents a[href^="fax"]:hover{
	text-decoration: none !important;
	color: inherit;
	cursor: default;
}
a[href^="javascript:"]{ cursor: default; }
img{
	border: none;
	vertical-align: top;
	max-width: 100%;
}
.mark {
	color: #cf2f09;
	font-style: inherit;
	font-weight: inherit;
}
.align-center{ text-align: center; }
.nobr{ white-space: nowrap; }
b, strong, th{
	font-weight: 700;
}
i, em{
	font-style: italic;
}
i b,
i strong,
em b,
em strong,
b i,
b em,
strong i,
strong em{
	font-weight: 700;
	font-style: italic;
}
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.wrapper{
	height: 100vh;
	overflow: hidden;
	position: relative;
	max-width: 1920px;
}
/*MAIN BLOCKS end*/

/*sp*/
[class|="depict"],
[class*=" depict-"]{
	display: inline-block;
	vertical-align: top;
}
/*sp end*/

/*btn*/
[class|="btn"],
[class*=" btn-"],
input[type="submit"],
input[type="button"],
input[type="reset"],
button{
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	text-decoration:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class|="btn"] input[type="submit"],
[class*=" btn-"] input[type="submit"],
[class|="btn"] input[type="button"],
[class*=" btn-"] input[type="button"],
[class|="btn"] input[type="reset"],
[class*=" btn-"] input[type="reset"]{
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	border:0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/*btn-default*/
[class*="btn-default"]{
	position: relative;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	padding: 12px 25px;
	border: 1px solid transparent;
	background: #d32e2e;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-transition-property: color, background, box-shadow, -webkit-transform;
	transition-property: color, background, box-shadow, transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
[class*="btn-default"]:hover{
	background: #b41e18;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	-webkit-transform: translate(0, -4px);
	-ms-transform: translate(0, -4px);
	transform: translate(0, -4px);
}
[class*="btn-default"]:active{
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*btn-default end*/

/*btn-default-alt*/
.btn-default-alt{
	color: #d32e2e;
	border: 2px solid #d32e2e;
	background: #fff;
}
.no-touchevents .btn-default-alt:hover{
	background: #b41e18;
	color: #fff;
}
/*btn-default-alt end*/
/*btn end*/

/*USER CONTENT*/
.user-content p+h2,
.user-content ul+h2,
.user-content ol+h2,
.user-content p+h3,
.user-content ul+h3,
.user-content ol+h3,
.user-content p+h4,
.user-content ul+h4,
.user-content ol+h4,
.user-content p+h5,
.user-content ul+h5,
.user-content ol+h5{
	padding-top: 10px;
}

/*list*/
.user-content ul,
.user-content ol{
	margin: 0;
	padding: 0 0 22px;
	list-style: none;
}
.user-content ol{ counter-reset: section; }
.user-content ul li,
.user-content ol li{
	padding: 14px 0 0 20px;
	position: relative;
}
.user-content ol > li{
	counter-increment: section;
	height: 1%;
	overflow: hidden;
	padding-left: 20px;
}
.user-content ul li:first-child,
.user-content ol > li:first-child{
	padding-top: 0;
}
.user-content ul > li:before,
.user-content ol ul > li:first-child:before{
	content: '';
	position: absolute;
	left: 0;
	top: 21px;
	height: 0;
	width: 0;
	border: 5px solid #cf2f09;
	box-sizing: border-box;
}
.user-content ul > li:first-child:before{ top: 7px; }
.user-content ol > li:before{
	position: relative;
	display: inline-block;
	text-align: left;
	color: #cf2f09;
	content: counter(section) ;
	padding: 0 4px 0 0;
	min-width: 20px;
	margin-left: -20px;
	box-sizing: border-box;
}
.user-content ul ul,
.user-content ul ol,
.user-content ol > li > ul{
	padding-bottom: 0;
	padding-left: 20px;
}
.user-content ul ul > li:before,
.user-content ul ul > li:first-child:before,
.user-content ol ul ul > li:before,
.user-content ol ul ul > li:first-child:before{
	height: 0;
	width: 10px;
	border-width: 2px 0;
	border-radius: 0;
	top: 23px;
}
.user-content ul ul li:first-child,
.user-content ul ol li:first-child,
.user-content ol ol li:first-child,
.user-content ol ul li:first-child{
	padding-top: 14px;
}
.user-content ul ul ul > li:before,
.user-content ul ul ul > li:first-child:before,
.user-content ul ol ul > li:before,
.user-content ul ol ul > li:first-child:before{
	height: 8px;
	width: 8px;
	top: 21px;
	border-width: 4px;
	border-radius: 50%;
}
/*list end*/

/*default table*/
.table_auto{
	overflow: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 20px;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
}
table td,
table th{
	font-size: 14px;
	line-height: 18px;
	color: #333;
	padding: 8px 10px;
	box-sizing: border-box;
	border-color: #e6e6e6;
}
/*default table end*/

/*table styling*/
.tbl{
	table-layout: fixed;
	margin-bottom: 20px;
}
.table_auto .tbl{
	margin: 0;
}
.tbl td,
.tbl th{
	color: #262626;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	padding: 8px 10px;
	font-size: 14px;
	line-height: 18px;
}
.tbl,
.tbl td,
.tbl th{
	border: 1px solid #e6e6e6;
}
.tbl td:first-child{
	text-align: left;
}
.tbl tbody td:first-child,
.tbl tfoot td:first-child{
	border-left-width: 0;
}
.tbl th,
.tbl thead td{
	font-weight: bold;
}
.tbl th,
.tbl thead td,
.tbl tfoot td,
.tbl tr td:first-child{
	background: #f2f2f2;
}
/*table styling end*/

/*blockquote*/
.blockquote{
	padding: 0 0 30px;
}
.user-content blockquote{
	display: block;
	margin: 0;
	background-color: #f5f5f5;
	border-left: 4px solid #cf2f09;
	padding: 18px 32px 28px 42px;
}
.user-content blockquote q{
	display: block;
	margin: 0;
	padding: 0 0 10px;
	font: italic 18px/24px 'Times New Roman', Times, serif;
	letter-spacing:0.05em;
	color: #808080;
}
.user-content blockquote q:before,
.user-content blockquote q:after{
	content: '';
	display: block;
	font-size: 24px;
	line-height: 28px;
}
.user-content blockquote q:before{
	content: '«';
	padding-left: 17%;
	padding-bottom: 10px;
}
.user-content blockquote q:after{
	content: '»';
	text-align: right;
	padding-right: 18.5%;
	padding-top: 8px;
}
.user-content blockquote cite{
	text-align: right;
	display: block;
	margin-left: auto;
	font: italic 20px/24px 'Times New Roman', Times, serif;
	color: #333;
}
/*blockquote end*/

/*content img*/
.imgc{
	text-align: center;
	padding-bottom: 30px;
	clear: both;
}
.imgl{
	text-align: left;
	float: left;
	margin: 0 30px 20px 0;
	max-width: 50%;
}
.imgr{
	text-align: right;
	float: right;
	margin: 0 0 20px 30px;
	max-width: 50%;
}

@media only screen and (max-width: 767px){
	.imgl, .imgr{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: none;
	}
}
/*content img end*/

/*FORM STYLES*/
/*form common*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	display: block;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;
	height: 50px;
	width: 100%;
	padding: 12px 18px;
	background: #fff;
	box-shadow: none;
	border: 1px solid #0059a6;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	box-sizing: border-box;
	margin: 0 0 28px;
}
.input-wrap input[type="text"],
.input-wrap input[type="password"],
.input-wrap input[type="email"],
.input-wrap input[type="search"],
.input-wrap textarea{
	margin: 0;
}
textarea{
	padding: 12px 18px;
	min-height: 114px;
	height: 114px;
	resize: vertical;
}
/*form common end*/

/*form placeholder*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input:-moz-placeholder,
textarea:-moz-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input::-moz-placeholder,
textarea::-moz-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input.placeholder,
textarea.placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
/*form placeholder end*/

/*form placeholder hide*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{ color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{ color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{ color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus{ color: transparent !important; }
/*form placeholder hide end*/

/*form focus*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus{
	box-shadow: inset 0 0 5px #0059a6;
}
/*form focus end*/

/*form error*/
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
textarea.error{
	color: #d32e2e;
	border-color: #d32e2e;
	box-shadow: 0 0 5px rgba(211, 46, 46, 0.4);
}
/*form error end*/

/*form error placeholder*/
input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder{ color: #d32e2e; }
input.error:-moz-placeholder,
textarea.error:-moz-placeholder{ color: #d32e2e; }
input.error::-moz-placeholder,
textarea.error::-moz-placeholder{ color: #d32e2e; opacity: 1; }
input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder{ color: #d32e2e; opacity: 1; }
input.error .placeholder,
textarea.error .placeholder{ color: #d32e2e; opacity: 1; }
/*form error placeholder end*/

/*form checkbox and radiobutton*/
.checkbox-list,
.user-content .checkbox-list,
.radio-list,
.user-content .radio-list{
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 24px;
}
.checkbox-list li,
.user-content .checkbox-list li,
.user-content .checkbox-list li:first-child,
.radio-list li,
.user-content .radio-list li,
.user-content .radio-list li:first-child{
	position: relative;
	padding: 0 0 20px;
}
.checkbox-list li:before,
.user-content .checkbox-list li:before,
.radio-list li:before,
.user-content .radio-list li:before{
	content: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label,
.check-label,
.radio-label{
	display: inline-block;
	vertical-align: top;
	color: #000;
	text-transform: none;
	cursor: pointer;
	position: relative;
}
input[type="checkbox"] + label:before,
.check-label>span>i:before{
	content: '';
	height: 18px;
	width: 18px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	border-radius: 0;
	border: 1px solid #cf2f09;
	box-sizing: border-box;
}
input[type="checkbox"] + label:after,
input[type="checkbox"] + span>i:after{
	content: '';
	height: 16px;
	width: 16px;
	position: absolute;
	left: 1px;
	top: 50%;
	margin-top: -8px;
	border-radius: 0;
	background: none;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
input[type="checkbox"] + label>span,
input[type="radio"] + label>span,
input[type="checkbox"] + span,
input[type="radio"] + span{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 2px 0 2px 34px;
	z-index: 2;
}

input[type="checkbox"]{ width: 16px; height: 16px; padding: 0; margin: 0; }
input[type="checkbox"] { display:none }
input[type="checkbox"] + label>span:before,
input[type="checkbox"] + label>span:after,
input[type="checkbox"] + span:before,
input[type="checkbox"] + span:after{
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	left: 0;
	top: 50%;
	border-radius: 2px;
	background: #cf2f09;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
input[type="checkbox"] + label>span:before,
input[type="checkbox"] + span:before{
	transform: rotate(45deg);
	transform-origin: 0 7px;
	z-index: 1;
}
input[type="checkbox"] + label>span:after,
input[type="checkbox"] + span:after{
	transform: rotate(-50deg);
	transform-origin: 0 10px;
	left: 22px;
}
input[type="checkbox"]:checked + label>span:before,
input[type="checkbox"]:checked + span:before{
	width: 7px;
	margin: -4px 0 0 0;
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
input[type="checkbox"]:checked + label>span:after,
input[type="checkbox"]:checked + span:after{
	width: 11px;
	margin: 0 0 0 -8px;
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:checked + span>i:after{
	/*opacity: 0;*/
}
input[type="checkbox"]:disabled + label,
input[type="checkbox"]:disabled + span>i{
	color: #bdbdbd;
}
input[type="checkbox"]:disabled + label:before,
input[type="checkbox"]:disabled + span>i:before{
	border-color: #d6d6d6;
}
input[type="checkbox"]:disabled + label>span:before,
input[type="checkbox"]:disabled + label>span:after,
input[type="checkbox"]:disabled + span:before,
input[type="checkbox"]:disabled + span:after{
	background: #b9b9b9;
}

input[type="radio"]{ float: left; height: 16px; width: 16px; margin: 0; padding: 0; }
input[type="radio"] { display:none }
input[type="radio"] + label:before,
input[type="radio"] + span:before{
	content: '';
	height: 18px;
	width: 18px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	border-radius: 50px;
	border: 1px solid #cf2f09;
	box-sizing: border-box;
}
input[type="radio"] + label:after,
input[type="radio"] + span:after{
	content: '';
	height: 16px;
	width: 16px;
	position: absolute;
	left: 1px;
	top: 50%;
	margin-top: -8px;
	border-radius: 50px;
	background: none;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
input[type="radio"] + label>span:after,
input[type="radio"] + span>i:after {
	content:'';
	width:10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 4px;
	margin-top: -5px;
	border-radius: 50%;
	overflow: hidden;
	background: #cf2f09;

	-webkit-animation:bounceout 0s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;

	animation:bounceout 0s;
	animation-iteration-count:1;
	animation-fill-mode:forwards;

	opacity: 0;
}

input[type="radio"]:checked + label>span:after,
input[type="radio"]:checked + span>i:after {
	-webkit-animation:bounce 0.3s;
	-webkit-animation-iteration-count:1;

	animation:bounce 0.3s;
	animation-iteration-count:1;

	opacity: 1;
}

@-webkit-keyframes bounce{
	0% { -webkit-transform:scale(0.8); opacity:0.4}
	50%{ -webkit-transform:scale(1.4); opacity:1}
	100%{ -webkit-transform:scale(1); opacity:1}
}
@keyframes bounce{
	0% { transform:scale(0.8); opacity:0.4}
	50%{ transform:scale(1.4); opacity:1}
	100%{ transform:scale(1); opacity:1}
}
@-webkit-keyframes bounceout{
	0% { -webkit-transform:scale(0); opacity:1;}
	50%{ -webkit-transform:scale(1.4); opacity:1;}
	100%{ -webkit-transform:scale(0); opacity:0.4;}
}
@keyframes bounceout{
	0% { transform:scale(0); opacity:1;}
	50%{ transform:scale(1.4); opacity:1;}
	100%{ transform:scale(0); opacity:0.4;}
}

input[type="radio"]:disabled + label,
input[type="radio"]:disabled + span{ color: #bdbdbd; }
input[type="radio"]:disabled + label:before,
input[type="radio"]:disabled + span:before{ border-color: #d6d6d6; }
input[type="radio"]:disabled + label>span:after,
input[type="radio"]:disabled + span>i:after{ background: #b9b9b9; }
/*form checkbox and radiobutton end*/

/*form layout*/
.form-row,
.input-wrap{ padding: 0 0 28px; }
.form-row{
	margin: 0 -15px;
	font-size: 0;

	letter-spacing: -4px;
}
.form-row .input-wrap{
	display: inline-block;
	vertical-align: top;
	width: 49.98%;
	padding: 0 15px;
	box-sizing: border-box;

	font-size: 16px;
	letter-spacing: normal;
}
@media only screen and (max-width: 639px){
	.form-row .input-wrap{
		display: block;
		width: auto;
		margin-bottom: 28px;
	}
}
.label-holder{ padding: 0 0 10px; }
.label-holder,
label{
	font-size: inherit;
	line-height: inherit;
	color: #333;
}
.form-mark{
	display: inline-block;
	vertical-align: top;
	color: #cf2f09;
}
/*form layout end*/

/*form select*/
.select{
	position: relative;
	margin: 0;
	background: #fff;
	border: 1px solid #0059a6;
	display: block;
	box-sizing: border-box;
}
.select select{
	display: block;
	font: 14px/16px Arial, Helvetica, sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
	padding: 8px 13px;
	-webkit-appearance: none;
	-moz-appearance: none;
	white-space: nowrap;
	text-indent: 0;
	text-overflow: '';
	width: 100%;
	border: none;
	background: transparent;
	overflow: hidden;
	cursor: pointer;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}
.select:before,
.select:after{
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	height: 0;
	width: 8px;
	margin-top: -2px;
	border-top: 2px solid #0059a6;
	box-sizing: border-box;
}
.select:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.select:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 15px;
}
/*form select end*/
/*FORM STYLE end*/

/*download files items*/
/*depict files*/
[class|="depict-files"],
[class*=" depict-files-"]{
	background:url(../img/sprite-files.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-files-pdf{ background-position: 0 0; width: 39px; height: 46px; }
.depict-files-xls{ background-position: 0 -66px; width: 39px; height: 46px; }
.depict-files-doc{ background-position: 0 -132px; width: 39px; height: 46px; }
.depict-files-zip{ background-position: 0 -198px; width: 39px; height: 46px; }
.depict-files-jpg{ background-position: 0 -264px; width: 39px; height: 46px; }
/*depict files end*/

/*files item*/
.files{
	padding: 0 0 20px;
	margin-left: -30px;
	font-size: 0;
	letter-spacing: -4px;
}
.files-item{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: normal;
}
.files .files-item{
	display: inline-block;
	vertical-align: top;
	width: 33.29%;
	padding: 0 0 48px 30px;
}
.file{
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 0 53px;
	position: relative;
	min-height: 46px;
}
.file__title{
	padding: 5px 0 7px;
}
.file__title a{
	text-decoration: none;
	margin: 0 0 0 -53px;
	display: inline-block;
	padding: 0 0 0 53px;
}
.file__title a span{
	padding-top: 5px;
	text-decoration: underline;
}
.no-touchevents .file__title a:hover span{
	text-decoration: none;
}
.file [class*="depict-files-"]{
	position: absolute;
	left: 0;
	top: 0;
}
.file__info{
	color: #666;
}
/*files item end*/
/*download files items end*/

/*view print*/
.view-print{
	float: right;
	padding: 6px 12px;
	background: #f9f9f9;
	line-height: 1;
	color: #000;
	text-decoration: none;
	margin-left: 30px;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.no-touchevents .view-print:hover{
	background-color: #eaeaea;
}
.view-print svg{
	vertical-align: middle;
	width: 16px;
	margin-right: 5px;
}
.view-print span{
	display: inline-block;
	vertical-align: middle;
}
@media only screen and (max-width: 979px){
	.view-print{ font-size: 14px; }
}
@media only screen and (max-width: 639px){
	.view-print svg{
		vertical-align: top;
		margin-right: 0;
	}
	.view-print span{ display: none; }
}
/*view print end*/
/*USER CONTENT end*/

/*HEADER*/
.header{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 50px;
	text-align: center;
	background: #024383;
	box-shadow: 0 1px 0 #2b52a1;
	color: #fff;
	display: none;
}

/*button info*/
.btn-info{
	text-align: center;
	position: relative;
}
.btn-info a{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.btn-info a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url(../img/depict-info.png) no-repeat 50% 50%;
	-webkit-transition-property: visibility, opacity, -webkit-transform;
	transition-property: visibility, opacity, transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.info-bar-show .btn-info a:before{
	visibility: hidden;
	opacity: 0;
}

.btn-info a > i{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 16px;
	height: 16px;
	font-size: 1px;
	z-index: 2;
	pointer-events: none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	-webkit-transition-property: visibility, opacity, -webkit-transform;
	transition-property: visibility, opacity, transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.info-bar-show .btn-info a > i{
	visibility: visible;
	opacity: 1;
}
.btn-info a > i:before,
.btn-info a > i:after{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	height: 2em;
	width: 21em;
	border-radius: 2em;
	background: #fff;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	margin: -1em 0 0 -11em;
}

.btn-info a > i:before{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn-info a > i:after{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/*button info end*/

/*button info in header*/
.btn-info_header{
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
}
.btn-info a:active{
	-webkit-transform: translate(-50%, -50%) scale(0.85, 0.85);
	-ms-transform: translate(-50%, -50%) scale(0.85, 0.85);
	transform: translate(-50%, -50%) scale(0.85, 0.85);
}
/*button info in header end*/

/*button info in sidebar*/
.btn-info_sidebar{
	width: 120px;
	height: 120px;
}
.btn-info_sidebar a{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-indent: -9999px;
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/*button info in sidebar end*/

/*logo*/
.logo{
	display: block;
	background: url(../img/logo.png) no-repeat 50% 50%;
	width: 100px;
	height: 37px;
	margin: 0;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -9999px;
	overflow: hidden;
}
.logo a{
	display: block;
	height: 100%;
}
/*logo end*/

/*logo in header*/
.logo_header{
	margin: 0 auto;
	height: 50px;
	width: 80px;
}
/*logo in header end*/

/*logo in sidebar*/
.logo_sidebar{
	-webkit-background-size: 100px;
	background-size: 100px;
	height: 60px;
	width: 100%;
}
.logo a{
	display: block;
	height: 100%;
}
/*logo in sidebar end*/

/*button menu*/
.btn-menu{
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-transition-property: border, height;
	transition-property: border, height;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;

	font-size: 0;
	letter-spacing: -4px;
}
.btn-menu:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.btn-menu:active > i{
	-webkit-transform: scale(0.85, 0.85);
	-ms-transform: scale(0.85, 0.85);
	transform: scale(0.85, 0.85);
}
.btn-menu > span{
	display: none;
	vertical-align: middle;
	position: relative;
	max-width: 98%;
	box-sizing: border-box;
}
.btn-menu > i,
.btn-menu > i:before,
.btn-menu > i:after{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 21px;
	height: 2px;
	margin: -1px 0 0 -11px;
	background: #fff;
	-webkit-transition-property: background, -webkit-transform;
	transition-property: background, transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.btn-menu > i:before,
.btn-menu > i:after{
	content: '';
	z-index: 2;
	left: 0;
	margin-left: 0;
	background: #fff;
}

.sidebar-show .btn-menu > i{
	background: none;
}
.btn-menu > i:before{
	-webkit-transform-origin: top right;
	transform-origin: top right;
}
.btn-menu > i:after{
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right;
}
.sidebar-show .btn-menu > i:before{
	-webkit-transform: rotate(-45deg) translate(-2px, -2px);
	-ms-transform: rotate(-45deg) translate(-2px, -2px);
	transform: rotate(-45deg) translate(-2px, -2px);
}
.sidebar-show .btn-menu > i:after{
	-webkit-transform: rotate(45deg) translate(-2px, 2px);
	-ms-transform: rotate(45deg) translate(-2px, 2px);
	transform: rotate(45deg) translate(-2px, 2px);
}
/*first line menu*/
.btn-menu > i:before{ top: -6px; }
/*first line menu end*/
/*third line menu*/
.btn-menu > i:after{ top: 8px; }
/*third line menu end*/
/*button menu end*/

.btn-menu,
.btn-info_header{
	border: 0 solid #2b52a1;
}
.btn-menu{
	border-right-width: 1px;
}
.btn-info_header{
	border-left-width: 1px;
}
/*HEADER end*/

/*MAIN*/
.main{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow-y: auto;
	padding-left: 120px;
	/* Force Hardware Acceleration */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: -webkit-transform 0s 0.5s;
	-moz-transition: -moz-transform 0s 0.5s;
	transition: transform 0s 0.5s;
}
.main.index{
	overflow: hidden;
}
.main.overflow-hidden {
	overflow: hidden;
}
.main.visible {
	position: relative;
	z-index: 2;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: -webkit-transform 0.5s 0s;
	-moz-transition: -moz-transform 0.5s 0s;
	transition: transform 0.5s 0s;
}

.main__holder{
	overflow: hidden;
}

.main header {
	position: relative;
	height: 100vh;
	width: 100%;
	background: #83b0b9;
	overflow: hidden;
}
.main.services header {
	background-color: #d35657;
}
.main.projects header {
	background-color: #343943;
}
.main.contact header {
	background-color: #e4b162;
}

/*CONTENT*/
/*main slider*/
.main-slider{
	position: relative;
	overflow: hidden;
	/*height: 100vh;*/
	height: calc(100vh - 120px);
	box-sizing: border-box;
	background: #27303b;
}

.main-slider-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.main-slider-bg__item{
	position: absolute;
	left: -2%;
	top: -2%;
	width: 104%;
	height: 104%;
	-webkit-background-size: cover;
	background-size: cover;
	background: #27303b no-repeat center center;
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	opacity: 0;
	visibility: hidden;
	will-change: transform, opacity, visibility;
	-webkit-transition-property: -webkit-transform, opacity, visibility;
	transition-property: -webkit-transform, opacity, visibility;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.main-slider-bg__item.active{
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
	visibility: visible;
}

.bg-clip{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	-webkit-filter: blur(15px);
	filter: blur(15px);
	clip-path: polygon(20% 10%, 70% 10%, 70% 70%, 20% 70%);
	clip: rect(90.1px 705.6px 630.7px 201.6px);
}

.main-slider-img{
	position: absolute;
	bottom: 72px;
	right: 1020px;
	width: 316px;
	height: calc(100% - 65px*2);
}
.main-slider-img__item{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: no-repeat -9999px -9999px;

	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(-40%) scale(0.96, 0.96);
	-ms-transform: translateX(-40%) scale(0.96, 0.96);
	transform: translateX(-40%) scale(0.96, 0.96);
	will-change: transform;
	-webkit-transition-property: -webkit-transform, opacity, visibility;
	transition-property: transform, opacity, visibility;
	-webkit-transition-duration: 0.7s, 0.35s, 0.35s;
	transition-duration: 0.7s, 0.35s, 0.35s;
}
.main-slider-img__item:before{
	content: '';
	position: absolute;
	background: url(../img/bottle-shadow.png) no-repeat;
	height: 79px;
	width: 842px;
	left: -260px;
	bottom: -23px;
	z-index: -1;
}
.main-slider-img__item:after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: no-repeat 50% 100%;
	background-image: inherit;
	-webkit-background-size: contain;
	background-size: contain;
}
.main-slider-img__item.active{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0) scale(1, 1);
	-ms-transform: translateX(0) scale(1, 1);
	transform: translateX(0) scale(1, 1);
	-webkit-transition-duration: 0.7s, 0.5s, 0.5s;
	transition-duration: 0.7s, 0.5s, 0.5s;
}

.main-slider-desks{
	position: absolute;
	bottom: -12px;
	left: -3%;
	width: 106%;
	height: 190px;
}
.main-slider-desks__item{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;

	opacity: 0;
	visibility: hidden;
	/*-webkit-transform: translate(-20px, -5px);*/
	/*-ms-transform: translate(-20px, -5px);*/
	/*transform: translate(-20px, -5px);*/
	-webkit-transform: scale(1.04, 1.04);
	-ms-transform: scale(1.04, 1.04);
	transform: scale(1.04, 1.04);
	will-change: transform;
	-webkit-transition-property: -webkit-transform, opacity, visibility;
	transition-property: transform, opacity, visibility;
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
.main-slider-desks__item.active{
	opacity: 1;
	visibility: visible;
	/*-webkit-transform: translate(0, 0);*/
	/*-ms-transform: translate(0, 0);*/
	/*transform: translate(0, 0);*/
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

.main-slider-caption{
	position: absolute;
	right: 510px;
	height: calc(5em + 40px);
	top: calc(50% - (5em + 40px) / 2);
	/*50% - bottom panel - half of this element's height*/
	/*width: 480px;*/
	width: 11.4em;
	z-index: 2;
}
.main-slider-caption__holder{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.main-slider-caption,
.main-slider-title__item{
	font-family: 'academy-bold', sans-serif;
	font-size: 4.2rem;
	line-height: 1;
	letter-spacing: 0.025em;
	color: #fff;
	text-transform: uppercase;
}

.main-slider-title{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;

	white-space: nowrap;
	font-size: 0;
	letter-spacing: -4px;
}
.main-slider-title:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.main-slider-title__item{
	position: relative;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	white-space: normal;
	width: calc(100% - 4px);
	max-height: 5em;
	margin-left: calc(-100% + 4px);

	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(15%, 0) scale(0.96, 0.96);
	-ms-transform: translate(15%, 0) scale(0.96, 0.96);
	transform: translate(15%, 0) scale(0.96, 0.96);
	will-change: transform;
	-webkit-transition-property: -webkit-transform, opacity, visibility;
	transition-property: transform, opacity, visibility;
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
}
.main-slider-title__item:first-child{ margin-left: 0; }
.main-slider-title__item.active{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0, 0) scale(1, 1);
	-ms-transform: translate(0, 0) scale(1, 1);
	transform: translate(0, 0) scale(1, 1);
}

.main-slider-dots{
	position: absolute;
	left: 50%;
	bottom: 100%;
	cursor: default;
	font-size: 0;
	letter-spacing: -4px;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);

	display: none !important;
}
.main-slider-dots button{
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	font-size: 1px;
	line-height: 1;
	padding: 14em;
	background: none;
	border: none;
	margin: 0;
	cursor: pointer;
	text-align: left;
	text-indent: -9999px;
}
.main-slider-dots button:before,
.main-slider-dots button:after{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	height: 8em;
	width: 8em;
	margin: -4em 0 0 -4em;
	background-color: #838991;
	border-radius: 50%;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition-property: -webkit-transform, background-color;
	transition-property: transform, background-color;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.main-slider-dots button:after{
	background-color: #fff;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
}
.main-slider-dots button.active:before{
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	transform: scale(0, 0);
}
.no-touchevents .main-slider-dots button:hover:before{
	background-color: #b6bcc4;
}
.main-slider-dots button.active:after{
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
}

.main-slider-arrow{
	overflow: hidden;
	position: absolute;
	top: 100%;
	font-size: 1px;
	line-height: 1;
	height: 50em;
	width: 50em;
	background: none;
	margin: 0;
	border: 2px solid rgba(255, 255, 255, 0.41);
	border-radius: 50%;
	-webkit-transition-property: border-color, background-color;
	transition-property: border-color, background-color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	cursor: pointer;
}
.main-slider-arrow:active{
	-webkit-transform: scale(0.96, 0.96);
	-ms-transform: scale(0.96, 0.96);
	transform: scale(0.96, 0.96);
}
.no-touchevents .main-slider-arrow:hover{
	background-color: #fff;
	border-color: #fff;
}
.main-slider-arrow__prev{
	left: 50%;
	margin-left: -85px;
}
.main-slider-arrow__next{
	right: 50%;
	margin-right: -85px;
}
.main-slider-arrow svg{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -6px 0 0 -4px;
	width: 8px;
	height: 13px;
}
.main-slider-arrow svg path{
	fill: #fff;
	stroke-width: 2;
	-webkit-transition: fill 0.2s;
	transition: fill 0.2s;
}

.no-touchevents .main-slider-arrow:hover svg path{
	fill: #2cb3f3;
}

.main-slider__counter{
	position: absolute;
	left: 50%;
	top: 100%;
	font-family: 'arnopro-regular', sans-serif;
	font-size: 1.8rem;
	line-height: 1.2;
	text-align: center;
	width: 70px;
	margin: 15px 0 0 -35px;
}
/*main slider end*/
/*CONTENT end*/

/*info bar*/
.info-bar{
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 260px;
	font-size: 1.4rem;
	line-height: 1.2;
	color: #fff;
	background: #023466;
	z-index: 10;
	-webkit-transform: translate(-260px, 0);
	-ms-transform: translate(-260px, 0);
	transform: translate(-260px, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.33s;
	transition-duration: 0.33s;
}
.info-bar:before,
.info-bar:after{
	content: '';
	position: absolute;
	left: 0;
	height: 30px;
	width: 100%;
	box-shadow: 0 0 15px 5px #023466;
	z-index: 3;
	pointer-events: none;
}
.info-bar:before{
	bottom: 100%;
}
.info-bar:after{
	top: 100%;
}
.info-bar-show .info-bar{
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.info-bar__holder{
	position: relative;
	height: 100%;
	overflow-y: auto;
	width: calc(100% + 20px);
}
.info-bar__frame{
	position: relative;
	width: 260px;
	padding-bottom: 130px;
	min-height: 100%;
}
.info-bar__item{
	border-bottom: 1px solid #024383;
	padding: 2.3em 20px 2.3em 40px;
}
.info-bar__item:last-child{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 130px;
	width: 100%;
	border-bottom: none;
}

.info-bar a{
	color: #fff;
	text-decoration: none;
}
.no-touchevents .info-bar a:hover{
	vertical-align: top;
	text-decoration: none;
}
.info-bar a span{
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	-webkit-transition-property: border-color;
	transition-property: border-color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.no-touchevents .info-bar a:hover span{
	border-bottom-color: transparent;
}

.info-bar__adr{
	line-height: 2;
}

.info-bar__list{
	margin: 0;
	padding: 0;
	font-family: 'arnopro-regular', sans-serif;
	line-height: 1.2;
	color: #fff;
}
.info-bar__list dt{
	display: block;
	margin: 0;
	padding: 0 0 0.4em;
	font-size: 1.6rem;
	text-transform: uppercase;
	opacity: 0.35;
}
.info-bar__list dd{
	margin: 0;
	padding: 0 0 1.3em;
	font-size: 2.0rem;
	-ms-word-break: break-all;
	word-break: break-all;
}
.info-bar__list dd:last-child{
	padding-bottom: 0;
}

.load-btn{
	display: block;
	font-size: 1.4rem;
	line-height: 1.2;
}
.load-btn svg {
	display: inline-block;
	vertical-align: middle;
	width: 34px;
	margin: 0 0.9em 0 0;
}
.load-btn path {
	fill: white;
}
.load-btn__content{
	display: inline-block;
	vertical-align: middle;
	max-width: 140px;
	text-align: left;
}
.load-btn__text{
	padding: 0 0 2px;
}
.load-btn__content em{
	font-size: 0.86em;
	font-family: 'arnopro-regular', sans-serif;
	font-style: normal;
	text-transform: uppercase;
	color: #45b0e3;
}

/*developer*/
.developer .text-inner{
	display: block;
	margin: 0;
	padding: 0 0 0.4em;
	font-family: 'arnopro-regular', sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.35;
}
.developer_logo{
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 3px;
	width: 154px;
	height: 20px;
	text-align: left;
	text-indent: -9999px;
	padding-right: 3px;
	border: none !important;
}
.developer_logo:before,
.developer_logo:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 149px;
	height: 16px;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.developer_logo:before{
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	background-color: transparent;
	background-image:
			linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
			linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-size:2px 2px;
	background-position:0 0, 1px 1px;
}
.no-cssgradient .developer_logo:before,
.no-multiplebgs .developer_logo:before{
	background: #000;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.developer_logo:after{
	content: '';
	position: absolute;
	background: #00ef85 url(../img/logo-developer-2x.png) no-repeat center center;
	-webkit-background-size: auto 16px;
	background-size: auto 16px;
}
.no-backgroundsize .developer_logo:after{ background-image: url(../img/logo-developer.png); }
.no-touchevents a:hover .developer_logo:before{
	-webkit-transform: translate(1px, 1px);
	-ms-transform: translate(1px, 1px);
	transform: translate(1px, 1px);
	-webkit-transition-duration: 3s;
	transition-duration: 3s;
}
.no-touchevents a:hover .developer_logo:after{
	-webkit-transform: translate(-1px, -2px);
	-ms-transform: translate(-1px, -2px);
	transform: translate(-1px, -2px);
	-webkit-transition-duration: 3s;
	transition-duration: 3s;
}
/*developer end*/

.show-panels__overlay{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 8;
	visibility: hidden;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.info-bar-show .show-panels__overlay,
.sidebar-show .show-panels__overlay{
	visibility: visible;
	opacity: 1;
}
/*info bar end*/

/*SIDEBAR*/
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	overflow: hidden;
	z-index: 9;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.33s;
	transition-duration: 0.33s;
}
.sidebar-holder{
	position: relative;
	padding-top: 130px;
	height: 100%;
}
.info-bar-show .sidebar{
	-webkit-transform: translate(260px, 0);
	-ms-transform: translate(260px, 0);
	transform: translate(260px, 0);
}
.sidebar:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #024383;
}
.sidebar:after{
	content: '';
	position: absolute;
	left: 0;
	top: 100%;
	height: 30px;
	width: 100%;
	box-shadow: 0 0 10px 5px rgba(2, 67, 131, 1);
	z-index: 3;
	pointer-events: none;
}
.sidebar__head{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 130px;
	padding: 12px 0 0;
	box-shadow: 0 0 10px 5px rgba(2, 67, 131, 1);
	z-index: 3;
}

/*lang*/
.lang{
	text-align: center;
	padding: 10px 20px;
	line-height: 1;
}
.lang a{
	display: inline-block;
	vertical-align: top;
	padding: 0.2em 0.3em;
	min-width: 3em;
	font-family: 'arnopro-regular', sans-serif;
	font-size: 1.4rem;
	line-height: 1.4;
	color: #262626;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
}
/*lang end*/

.sidebar__body{
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	padding-top: 20px;
	-webkit-overflow-scrolling: touch;
}
.no-touchevents .sidebar__body{
	width: calc(100% + 20px);
}

/*main navigation*/
.main-nav{
	height: calc(100% - 120px);
	display: table;
	width: 100%;
}
.main-nav ul {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 10px;
}
.main-nav a {
	display: block;
	position: relative;
	font-family: 'arnopro-regular', Arial, Helvetica, sans-serif;
	padding: 5em 0 1.5em;
	line-height: 1.3;
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition-property: background-color, color;
	transition-property: background-color, color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.main-nav a:before,
.main-nav a:after{
	content: '';
	position: absolute;
	left: 50%;
	height: 1px;
	width: 40%;
	background: #2b52a1;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
}
.main-nav a:before{
	display: none;
	top: 0;
}
.main-nav a:after{
	bottom: 0;
}
.main-nav li:first-child a:before{
	display: block;
}
.main-nav a svg {
	width: 2.8em;
	height: 2.8em;
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 1.3em;
}
.main-nav a svg path{
	-webkit-transition-property: fill;
	transition-property: fill;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	fill: #fff;
}
.main-nav a.selected,
.no-touchevents .main-nav a:hover{
	background-color: #fff;
	color: #024383;
	z-index: 2;
}
.main-nav a.selected:before,
.no-touchevents .main-nav a:hover:before,
.main-nav a.selected:after,
.no-touchevents .main-nav a:hover:after{
	background: #fff;
}
.main-nav a.selected > svg path,
.no-touchevents .main-nav a:hover > svg path{
	fill: #024383;
}

.sidebar,
.main-nav,
.btn-info_sidebar{
	width: 120px;
}
/*main navigation end*/
/*SIDEBAR end*/

/*guide*/
.guide{
	position: absolute;
	right: 65px;
	top: 0;
	height: calc(100% - 120px);
	width: 325px;
	text-align: right;
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 6;
}
.guide:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.guide__align{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-top: 60px;
	padding-bottom: 60px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	min-height: calc(100% - 65px*2);
	width: calc(100% - 5px);
	text-align: center;
}

[class*="guide__corners"]{
	position: absolute;
	left: 19px;
	right: 19px;
	height: 10px;
}
.guide__corners_top{
	top: 19px;
}
.guide__corners_bottom{
	bottom: 19px;
}
[class*="guide__corners"]:before,
[class*="guide__corners"]:after{
	content: '';
	position: absolute;
	height: 10px;
	width: 10px;
	border: solid rgba(255, 255, 255, 0.4);
}
.guide__corners_top:before{
	left: 0;
	top: 0;
	border-width: 2px 0 0 2px;
}
.guide__corners_top:after{
	right: 0;
	top: 0;
	border-width: 2px 2px 0 0;
}
.guide__corners_bottom:before{
	bottom: 0;
	left: 0;
	border-width: 0 0 2px 2px;
}
.guide__corners_bottom:after{
	bottom: 0;
	right: 0;
	border-width: 0 2px 2px 0;
}

.guide__title{
	font-family: 'academy-bold', sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	text-transform: uppercase;
	color: #fff;
	overflow: hidden;
	max-height: 4em;
}

.guide__content{
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.guide__before,
.guide__after{
	padding: 1em 0;
	font-size: 18px;
	line-height: 1.4;
}

.guide__img{
	max-height: 26vh;
}
.guide__img img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: inherit;
}

.guide__foot{
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	text-align: center;
}
.btn-more{
	display: inline-block;
	vertical-align: top;
	padding: 13px 20px 11px;
	background: #034f9c;
	font-family: 'arnopro-regular', sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	letter-spacing: 0.05em;
	color: #fff;
	text-transform: uppercase;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.no-touchevents .btn-more:hover{
	background: #024383;
}
.btn-more:active{
	-webkit-transform: scale(0.98, 0.98);
	-ms-transform: scale(0.98, 0.98);
	transform: scale(0.98, 0.98);
}

.guide__align,
.guide__content,
.guide__foot{
	padding-left: 39px;
	padding-right: 39px;
}

.guide-opener{
	position: absolute;
	right: 100%;
	top: 50%;
	margin: -30px 0 0;
	height: 60px;
	width: 190px;
	padding: 0 0 0 50px;
	border: solid rgba(255, 255, 255, 0.25);
	border-width: 1px 0 1px 1px;
	color: #fff;
	text-decoration: none;
	z-index: 6;
	text-align: left;
	font-size: 0;
	line-height: 1;
	letter-spacing: -4px;
	white-space: nowrap;
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	display: none;
}
.guide-show .guide-opener{
	width: 50px;
}
.guide-opener:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.guide-opener svg{
	position: absolute;
	left: 22px;
	top: 50%;
	margin-top: -6px;
	width: 8px;
	height: 13px;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.guide-show .guide-opener svg{
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.guide-opener svg path{
	fill: #fff
}
.guide-opener span{
	display: inline-block;
	vertical-align: middle;
	font-family: 'arnopro-regular', sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 1.4;
	letter-spacing: normal;
	white-space: normal;
	width: 135px;
	-webkit-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.guide-show .guide-opener span{
	opacity: 0;
	visibility: hidden;
}
/*guide end*/

/*ASIDE*/
.aside{
	position: relative;
	/*left: 120px;*/
	/*bottom: 0;*/
	height: 120px;
	/*width: calc(100% - 120px);*/
	/*max-width: calc(1920px - 120px);*/
	background-color: #023466;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	z-index: 6;
}
.main.index .aside{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
/*add menu*/
.add-menu:before,
.add-menu:after { content: ""; display: table; }
.add-menu:after { clear: both; }
.aside .add-menu{
	float: left;
	height: 100%;
	width: 75%;
}
.add-menu__item{
	float: left;
	position: relative;
	height: 100%;
	width: 33.3%;
}
.add-menu__inner{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
	background-color: #034f9c;
	text-decoration: none;
	box-shadow: -1px 0 0 #045bb3;
	-webkit-transition-property: -webkit-transform, background-color;
	transition-property: transform, background-color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transform: translateY(calc(100% - 120px));
	-ms-transform: translateY(calc(100% - 120px));
	transform: translateY(calc(100% - 120px));
}
.add-menu__item.hover .add-menu__inner{
	background: #045bb3;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.add-menu__title{
	padding: 0 9%;
	text-align: center;
	font-size: 0;
	letter-spacing: -4px;
}
.add-menu__title:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 120px;
}
.add-menu__title svg{
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	margin-right: 30px;
}
.add-menu__title svg path{
	fill: #fff;
}
.add-menu__title span{
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 60px - 30px - 4px);
	font-family: 'academy-bold', sans-serif;
	font-size: 2rem;
	line-height: 1.3;
	text-align: left;
	letter-spacing: normal;
	text-transform: uppercase;
}
.add-menu__content{
	padding: 0 9%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.6rem;
	line-height: 1.25;
	color: #fff;
}
.add-menu__content ul li{
	position: relative;
	padding-bottom: 1em;
	padding-left: 12px;
}
.add-menu__content ul li:before{
	content: '–';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
}
/*add menu end*/
/*footer*/
.aside .footer{
	float: right;
	width: 25%;
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.25;
	color: #fff;
	text-align: center;
	background-color: #023466;
	box-sizing: border-box;
	font-size: 0;
	letter-spacing: -4px;
}
.aside .footer:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.footer__holder{
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 4px);
	font-size: 1.6rem;
	letter-spacing: normal;
}
.aside .footer a{
	color: inherit;
	text-decoration: none;
}
.copyright{
	display: block;
	position: relative;
	padding: 0 0 2.3em;
}
.copyright:before{
	content: '';
	left: 50%;
	bottom: 1.15em;
	position: absolute;
	width: 3.8em;
	height: 1px;
	background: rgba(255, 255, 255, 0.16);
	margin-left: -1.9em;
}
/*footer end*/
/*ASIDE end*/

/* --------------------------------

 Loading Bar

-------------------------------- */
#cd-loading-bar {
	position: fixed;
	z-index: 2;
	left: 120px;
	width: 4px;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
#cd-loading-bar.index {
	background-color: #83b0b9;
}
#cd-loading-bar.services {
	background-color: #d35657;
}
#cd-loading-bar.projects {
	background-color: #343943;
}
#cd-loading-bar.contact {
	background-color: #e4b162;
}
#cd-loading-bar.loading {
	visibility: visible;
}
/*MAIN end*/

/*FOOTER*/
.footer-holder{
	padding: 10px 0 0;
}
/*FOOTER end*/

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){

}*/

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print{
	*,
	*:before,
	*:after{
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited{ text-decoration: underline; }
	a[href^=http]:after { content:" <" attr(href) "> "; }
	a[href]:after{ content: " (" attr(href) ")"; }
	abbr[title]:after{ content: " (" attr(title) ")"; }
	a[href^="#"]:after, a[href^="javascript:"]:after{ content: ""; }
	pre, blockquote{ border: 1px solid #999; page-break-inside: avoid; }
	thead{ display: table-header-group; }
	tr, img{ page-break-inside: avoid; }
	img{ max-width: 100% !important; }
	p, h2, h3{ orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	.sidebar,
	.aside,
	.print-hidden{ display: none !important; }
	.content{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.logo{ background: none !important; }
	.logo>*{ display: none; }
	.logo>img{ display: inline-block !important; }
}